@import '../../components/cart/cartNav';
@import '../../components/cart/cartTable';
@import '../../components/cart/overview';


.body__app__cartContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	// go back nav

	.body__app__cartContainer__bottomSpace {
		margin-top: auto;
		height: 8rem;
		width: 100%;
		max-width: 1600px;
	}

	.body__app__cartContainer__detailCard {
		width: 100%;
		max-width: 1600px;

		display: flex;
		align-items: flex-start;
		gap: 5rem;

		
		// price summary
	}
}
