@import '../../components/home/asideFilter';
@import '../../components/home/categoryNavigation';
@import '../../components/home/item';
@import '../../components/home/pager';

body {
	width: 100vw;

	font-family: 'Rubik', sans-serif;

	width: 100%;
	.body__app__homeContainer__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		min-height: calc(100vh - 8rem);

		////// FILTER NAV ///////

		.body__app__homeContainer__main__contentContainer {
			width: 80%;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			gap: 5rem;

			margin-top: 2rem;
			width: 100%;
			max-width: 1600px;

			position: relative;

			////// ASIDE FILTER ///////

			.body__app__homeContainer__main__contentContainer__itemContainer {
				width: 75%;
				display: grid;
				grid-template-columns: repeat(
					3,
					minmax(350px, 400px)
						// budu řešit přes media querry
				);

				grid-gap: 2.5rem;

				///// ITEMS //////
			}
			.body__app__homeContainer__main__contentContainer__itemContainer___off {
				width: 100%;
				grid-template-columns: repeat(
					4,
					minmax(350px, 400px)
						// budu řešit přes media querry
				);
			}

			.empty__style {
				background-color: #ffff;
				border-radius: 1rem;
				box-shadow: $filterBoxshadow;
				padding: 1.5rem;
				box-sizing: border-box;

				display: flex;
				align-items: center;
				gap: 1rem;

				> img {
					height: 3.5rem;
					width: 3.5rem;
				}

				h2 {
					font-size: 1.5rem;

					position: relative;
					width: 100%;

					color: $darkText;
				}
			}

			.body__app__homeContainer__main__contentContainer__itemContainer___empty {
				width: 75%;
				@extend .empty__style;
			}
			.body__app__homeContainer__main__contentContainer__itemContainer___empty___off {
				width: 100%;
				@extend .empty__style;
			}
		}
		////// PAGER //////
	}
}
