@import '../../components/cart/itemCard';
@import '../../components/cart/failedMessage';

.body__app__cartContainer__detailCard__cartItems {
  width: 75%;

  background-color: #ffff;
  border-radius: 1rem;
  box-shadow: $filterBoxshadow;
  padding: 2rem;
  box-sizing: border-box;

  > h2 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    position: relative;
    width: 100%;

    color: $darkText;
    &:before {
      content: '';
      position: absolute;
      height: 2px;
      bottom: -1rem;
      left: 0;
      right: 0;
      background-color: $separator;
    }
  }

  // failed message

  // the item
}

.body__app__cartContainer__detailCard__cartItems___off {
  width: 100%;
}
