.body__app__detailContainer__goBackNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 6rem;
  padding-bottom: 2rem;

  width: 100%;
  max-width: 1600px;

  background-color: $panelBackground;

  .body__app__detailContainer__goBackNav__back {
    @include chipLink;
  }
}