// nav and panel backgrounds
$navBackground: #ffffff;
$panelBackground: #f7f7f7;

// system color
$systemColor: #ff596f;
$systemColor___interact: #ff596f;

// text
$darkText: #353535;
$darkerText: #212121;
$lightText: #555555;

// other
$chipTransition: transform 100ms ease-in-out,
	background-color 150ms ease-in-out;
